html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.claro body{
    background-color: white;
}
.obscuro body{
    background-color: grey;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightcoral;
}

nav div{
    color:black;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
}

nav a{
    text-decoration: none;
}

.dohover:hover{
    background-color: tomato;
}

.logo{
    background: transparent;
    flex-grow: 1;
}


.logo img{
    height: 50px;
    width: 75px;
}

.bod{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.bod img{
    width: 100%;
}

.bod div{
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    flex-grow: 1;
}

.footer{
    color:black;
    background-color: lightcoral;
    text-align:center;
    padding: 15px;

}

@media(max-width:900px){
    .bod{
        flex-direction: column;
    }

}

.claro body{
    background-color: white;
}
.oscuro body{
    background-color: grey;
    color: white
}

.selector{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    text-decoration: underline;
}